<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6  col-lg-4 footer-text">
     <p> Smartphones 2017 <br>
       email: example@mail.com <br>
       tel: 998-111-0-111</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-6 col-lg-4">
      <img ng-src="{{$ctrl.mainLogo}}" alt="" class="img-responsive">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 socials">
      <ul>
        <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
