.content
  min-height calc(100vh - 175.5px)
  table
    margin-top 75px
    caption
      font-size 2rem
  .order-form
    margin: 75px 0 75px 50px
    background-color #b2dbfb
    color: #000
    width 30vw
    min-width  300px
    border-radius  5px
    >.reg-input
      label
        margin-right: 15px
      input
        padding 7px
        width 100%
        height 45px
        background-color #ecf0f1
        border  none
        border-radius  2px
        text-align  center
    .buttons
      input
        margin-right 5px
    >*
      display block
      padding 10px

.align-right
  text-align right



form
  .ng-valid.ng-dirty
    background-color lightgreen !important
  .ng-invalid.ng-dirty
    background-color pink !important
  .ng-invalid-email
    border: 2px solid lightcoral !important

.reg-input
  margin-top  4%
  margin-bottom  2%
  margin-left 2%
  margin-right 2%
  position relative


.error-box
  position  absolute
  top -33px
  left 176px
  color grey
  z-index  9999
  line-height  25px
  box-sizing  border-box
  border-radius  8px
  background-color  #fff549
  padding 8px



.arrow-down
  width 0
  height 0
  border-left 10px solid transparent
  border-right 10px solid transparent
  border-top 8px solid #fff549
  position absolute
  bottom -8px
  left 17px

