.phone-review
  padding-top 110px
  margin-bottom 75px

.phone-review__output
  margin 10px
  >div
    padding 7px



.phone-review__input
  >div
    padding 8px

.output_author
  color #3b99ff
.output_date
  text-align right
